<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"">
    <link rel=" preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <div class="title-container">
        <img src="../static/img/logo.png" alt="">

        <h1>Seja muito <span class="underline-anim">bem-vindo!</span></h1>

        <p>É muito bom ter você de volta.</p>
    </div>
    <div class="login-container">
        <h1>Login</h1>
        <form action="" method="POST">
        <div class="input-login">


            <div class="input-container-login">
                <label for="">Email:</label>
                <input type="email" placeholder="Endereço de Email:" name="email" required>
            </div>
            <div class="input-container-login">
                <label for="">Senha:</label>
                <input type="password" placeholder="Senha:" name="senha" required>
            </div>
        </div>


        <div class="submit-container">
            <button type="submit" class="login">Login</button>
        </div>
        </form>


    </div>
</body>

</html>