.radley-regular {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: normal;
}

.radley-regular-italic {
  font-family: "Radley", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-libre-light {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: normal;
}

.averia-libre-regular {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: normal;
}

.averia-libre-bold {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: normal;
}

.averia-libre-light-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 300;
  font-style: italic;
}

.averia-libre-regular-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 400;
  font-style: italic;
}

.averia-libre-bold-italic {
  font-family: "Averia Libre", system-ui;
  font-weight: 700;
  font-style: italic;
}

* {
  font-family: "Averia Libre", serif;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(131, 0, 0);
  height: 100px;

  display: flex;
  justify-content: space-between;


  align-items: center;

  margin: 0;
  padding: 0 50px;
}

#nav-main #logo {
  width: 200px;

}

#login-nav {
  gap: 20px;
  display: flex;
  align-items: center;
}

#login-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#login-nav a:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
}

#nav-ctg {
  height: 50px;
  background-color: rgb(22, 22, 22);
  display: flex;
  justify-content: center;
  align-items: center;

}

#nav-ctg ul {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

#nav-ctg li {
  color: white;
  list-style: none;
}

#nav-ctg li:hover {
  cursor: pointer;
  text-decoration: underline;
}



.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

/* --- Linha dos produtos --- */
#produto-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 50px;
  padding: 50px 60px;
  scrollbar-width: none;
}

#produto-row::-webkit-scrollbar {
  display: none;
}

/* --- Cards --- */
.produto-card {
  flex: 0 0 auto;
  width: 400px;
  height: 450px;
  background: rgb(223, 223, 223);
  border-radius: 15px;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Degradês laterais --- */
.slider-wrapper::before,
.slider-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.slider-wrapper::before {
  left: 0;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(20, 20, 20, 0));
}

.slider-wrapper::after {
  right: 0;
  background: linear-gradient(to left, rgb(255, 255, 255), rgba(20, 20, 20, 0));
}

/* --- Botões laterais --- */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


  border: none;
  color: rgb(0, 0, 0);

  font-size: 3rem;
  cursor: pointer;
  z-index: 2;
  padding: 10px 18px;

  transition: 0.3s;
}

.arrow:hover {
  color: rgb(156, 156, 156);
}

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}

.titulo-cont {
  margin-left: 10px;
  padding: 50px;
  
}

.swiper {
  width: 1830px;
  height: 500px;
  display: flex;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}





.info-produto {
  text-align: left;
  width: 80%;
  margin-left: 20px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;



}

.img-hover{
  position: relative;
  position: relative;
  width: 400px; /* ajuste o tamanho conforme quiser */
  height: 400px;
  overflow: hidden;
}

.img-hover .img1 {
  opacity: 1;
}

/* imagem de baixo escondida */
.img-hover .img2 {
  opacity: 0;
}

/* quando passa o mouse, troca */
.img-hover:hover .img1 {
  opacity: 0;
}

.img-hover:hover .img2 {
  opacity: 1;
}

.info-produto h1 {
  width: 350px;

  font-size: 15pt;
}

.nome-produto {
  color: #830000;
}



.img-produto {
  width: 400px;
}

.colecao-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1900px;
  height: 650px;
  gap: 70px;
  
}

.colecao-win {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: flex-end;
  background-color: #000000;
  height: 650px;
  width: 550px;
  
}

.colecao-win:hover{
  cursor: pointer;
}



.colecao-win img{
  position: absolute;
  top: 0;
  transition: transform 0.5s ease;
}

.colecao-win:hover img {
  transform: scale(1.3); /* dá o zoom */
}

.colecao-win h1{
  color: white;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-top: 50px;
  background-color: #830000;
  color: rgb(255, 255, 255);
  height: 400px;


}

.container-foot {
  display: flex;

}

.linha {
  display: flex;
  gap: 50px;
}

.coluna h1 {
  font-weight: bold;
  font-size: 15pt;
  width: 300px;
}

.coluna li {
  list-style: none;

  color: rgb(255, 255, 255);

}



.coluna a {
  text-decoration: none;
}

.coluna a li:hover {
  color: #646464;
}

.coluna ul {
  margin: 0;
  padding: 0;

}

#rs-container {
  display: flex;
  gap: 10px;
  padding: 10px 0 20px 0px;

}

#rs-container svg {
  width: 50px;
  height: 50px;
}

#fdp-container svg {
  width: 70px;
  height: 70px;
}

#foot-info {
  display: flex;
  margin-top: 70px;
  gap: 50px;
}

#foot-info p {
  margin: 0;
}